Alunos:

* Arthur Franco
* Firmo de Assis
* Nadege de Melo

## Pandas

### Instalação do Pandas

In [1]:
# Alternativa 1
!pip install pandas # alternative: conda install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

### Introduzindo Séries de Dados do Pandas

1 - Importe as bibliotecas pandas e numpy com os aliases 'pd' e 'np', respectivamente.

In [2]:
import pandas as pd
import numpy as np

2 - Utilize o numpy para criar um array com 10 elementos de números inteiros aleatórios entre 50 e 100. Em seguida, transforme-o em uma série do pandas e a exiba.

In [3]:
# Insira a resposta abaixo.
arrayQtd10 = np.random.randint(50, 101, 10)
df_array = pd.Series(arrayQtd10)

print(f"Dataframe 1: \n{df_array}")

Dataframe 1:
0    78
1    87
2    57
3    72
4    56
5    72
6    67
7    79
8    81
9    72
dtype: int64

3 - Utilize a função range do Python para criar uma série do Pandas contendo 10 elementos cujos índices sejam uma sequência ascendente de números ímpares  e os valores sejam uma sequência descendente de números inteiros de 10 a 1. Em seguida, converta o tipo numérico da série criada para 'int32' e exiba a série.

In [ ]:
# Insira a resposta abaixo.
np_valor = np.arange(10, 0, -1)
np_range = np.arange(1, 2 * len(np_valor))
lista_indice = []

for i in np_range:
    if i % 2 != 0:
        lista_indice.append(i)

np_indice = np.array(lista_indice)

df_serie = pd.Series(data = np_valor, index = np_indice)
df_serie = df_serie.astype('int32')

print(f"Dataframe 2: \n{df_serie}")

Dataframe 2:
1     10
3      9
5      8
7      7
9      6
11     5
13     4
15     3
17     2
19     1
dtype: int32

4 - Abaixo são definidos dois dicionários contendo capitais brasileiras com a população estimada para os anos de 2000 e 2018. Utilize ambos os dicionários definidos abaixos para criar dois objetos do tipo Series.

In [35]:
populacao2000 = {'São Paulo': 10405867, 'Rio de Janeiro': 5851914, 'Salvador': 2440828, 'Belo Horizonte':2232747, 'Fortaleza':2138234	}
populacao2018 = {'São Paulo': 12176866, 'Rio de Janeiro': 6688927, 'Brasília': 2974703, 'Salvador': 2857329, 'Fortaleza': 2643247}

# Insira a resposta abaixo.
df1 = pd.Series(populacao2000)
df2 = pd.Series(populacao2018)

#### Operações Aritméticas com Séries

5 - Crie uma nova série contendo a diferença entre as populações de 2018 e 2010.

In [38]:
# Insira a resposta abaixo.
df_diferenca = df2 - df1
print(f"Crescimeto populacional das cidades: \n{df_diferenca}")

Crescimeto populacional das cidades:
Belo Horizonte          NaN
Brasília                NaN
Fortaleza          505013.0
Rio de Janeiro     837013.0
Salvador           416501.0
São Paulo         1770999.0
dtype: float64

6 - Crie uma nova série contendo a média entre as duas séries iniciais.

In [46]:
# Insira a resposta abaixo.
df_mean = pd.concat([df1, df2], axis=1)
df_mean = df_mean.mean(axis=1)

print(f"Média: \n{df_mean}")

Média:
São Paulo         11291366.5
Rio de Janeiro     6270420.5
Salvador           2649078.5
Belo Horizonte     2232747.0
Fortaleza          2390740.5
Brasília           2974703.0
dtype: float64

### Introduzindo Dataframes

7 - Crie um dicionário cujas chaves sejam: 2000, 2018, 'diferenca', 'media'. Utilize como valores as séries correspondentes criadas nas questões anteriores. Utilize esse dicionário para criar um dataframe.

In [8]:
# Insira a resposta abaixo.

8 - Desta vez, crie um dataframe equivalente ao criado na questão anterior concatenando as quatro séries (referentes a 2000, 2018, diferença e média). Lembre-se de inserir os mesmos títulos para as colunas.

In [9]:
# Inserir a resposta abaixo.

9 - Adicione uma nova coluna ao dataframe anterior chamada 2019, esta deve conter um acréscimo de 50000 sobre os valores da coluna 2018.

In [10]:
# Insira a resposta abaixo.

10 - Exiba somente os dados referentes a Salvador.

In [11]:
# Insira a resposta abaixo.

11 - Exiba ** a terceira linha** do dataframe utilizando o seu posicionamento no dataframe.

In [12]:
# Insira a resposta abaixo.

12 - Exiba as **três primeiras linhas** do dataframe a partir da posição.

In [13]:
# Insira a resposta abaixo.

13 - Remova a coluna 2019 criada anteriormente.

In [14]:
# Insira a resposta abaixo.

14 - Remova os registros que apresentam valores nulos.

In [15]:
# Insira a resposta abaixo.

### Exercícios com base de dados fictícia (toy dataset)

Execute o bloco de código abaixo para realizar o download de uma pequena base de dados que será utilizada para os próximos experimentos. A base de dados poderá ser acessada através do arquivo toy_dataset.csv. Caso a sessão se encerre, re-execute essa célula de código.

15 - Execute a leitura do Toy Dataset diretamente em um dataframe.

> O toy dataset foi disponibilizado em conjunto com o notebook.

In [16]:
# Insira a resposta abaixo.

16 - Exiba o tipo de dados de cada coluna do dataframe.

In [17]:
# Insira a resposta abaixo.

17 - Utilize a função .head() para exibir o cabeçalho do dataframe e assim conhecer as colunas, o índice e as linhas iniciais da base de dados.

In [18]:
# Insira a resposta abaixo.

18 - Realize as seguintes operações:

- Adicione uma nova coluna chamada NumberAge e que apresente a soma entre os valores da coluna Number com os valores da coluna Age.
- Exiba o cabeçalho do dataframe resultante.
- Remova a coluna NumberAge.
- Exiba o cabeçalho do dataframe resultante.

In [19]:
# Insira a resposta abaixo.

19 - Realize as seguintes operações a partir do dataframe definido anteriormente:

- Exiba as cinco primeiras linhas do dataframe, todos os atributos devem ser apresentados com exceção do primeiro e último.

- Exiba as cinco últimas linhas do dataframe, exiba somente o atributo City.

In [20]:
# Insira a resposta abaixo.

20 - Ordene de forma ascendente as amostras utilizando como critério o salário anual. Em seguida, resete os índices dos registros.

In [21]:
# Insira a resposta abaixo.

**21 - Defina a coluna 'Number' como o índice do dataframe. Em seguida, exiba do segundo até o quinto registro a partir do posicionamento.**

In [22]:
# Insira a resposta abaixo.

22 - Desta vez, exiba os registros com Number variando de 2 até 5 a partir do próprio rótulo Number.

In [23]:
# Insira a resposta abaixo.

23 - Qual a cidade e o gênero da pessoa com a maior renda (Income)?

In [24]:
# Insira a resposta abaixo.

24 - Quantas pessoas moram na cidade de Dallas?

In [25]:
# Insira a resposta abaixo.

25 - Qual a idade média das pessoas que estão doentes? Utilize o atributo Illness para obter essa informação.

In [26]:
# Insira a resposta abaixo.

26 - Quantas pessoas tem um salário anual maior que R$ 30000?

In [27]:
# Insira a resposta abaixo.

27 - Quantas pessoas estão doentes?

In [28]:
# Insira a resposta abaixo.

28 - Quantas pessoas estão doente e apresentam renda (Income) menor que 35000 ou maior que 50000?

In [29]:
# Insira a resposta abaixo.

29 - Mostre os registros que apresentam a menor idade encontrada e uma renda entre 40000 e 42000.

In [30]:
# Insira a resposta abaixo.

30 - Mostre os registros referentes a cidade de Dallas que apresentam a maior idade e que estão doentes.

In [31]:
# Insira a resposta abaixo.